.edit-group-member-component {
    .group-member-picture {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1em;
        vertical-align: middle;
    }
    .group-member-heading {
        margin: 0 1em 0 0;
        padding: 0;
        vertical-align: middle;
    }
}
