<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="logo mt-0 mb-0">Humbugg</h1>
      <h2>A one of a kind secret santa experience</h2>
    </div>
    <div class="docs-header-start">
      <button type="button" class="btn btn-outline-light" (click)="getStarted()">Get Started</button>
    </div>
  </div>
</header>
<div class="docs-homepage-promo">
  <div class="docs-homepage-promo-desc">
    <h2>What is Humbugg?</h2>
    <p>
      Don't pull names out of any old hat! Use Humbugg! Humbugg is a secret santa generator that makes gift exchanges easy, fun and interactive.
      Make your holiday gift exchange memorable, easy, and pain free with Humbugg. A free online service. We do all the heavy lifting for you by managing you group,
      assigning your group member their secret santa recipient, and emailing everyone when its time to signup and exchange gifts.
    </p>
  </div>
</div>
