@import "../../../../variables.scss";

.docs-header-background {
  background: $primary;
  overflow: hidden;
  overflow-y: auto;
}

.docs-header-section {
  text-align: center;
  padding-top: 8em;
}

.docs-header-headline {
  color: white;
}

.docs-header-headline {
  h1 {
    font-size: 5em;
    font-weight: 300;
    margin: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2em;
    margin: 1em 0 2em;
  }
}

.docs-header-start {
  color: $primary;
  text-align: center;
  margin: 4em 0;
}

.docs-homepage-promo {
  padding: 1em;
}

.docs-homepage-promo-desc {
  margin: 4em auto;
  max-width: 65em;
  color: rgba(0, 0, 0, 0.65);

  h2 {
    font-size: 1.7em;
    font-weight: 500;
    margin: 0 0 1.5em;
    padding: 0;
  }

  p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2em;
    margin: 0 0 1.5em;
    padding: 0;
  }
}
