@import "../../../../variables.scss";

.page-title-layout-header {
  background: $accent;
  padding-left: 1.5em;

  h1 {
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 1em 0.5em;
    font-size: 1.5em;
  }
}

.page-title-layout-content {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  margin: 3em auto;
}
